.contenedor-login{
    background-image: url('../../img/cool-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formulario{
    background-color: #fffffff6;
    
}