.btn-searchbar {
    border-left: none!important;
    border: 1px solid #dee2e6;
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important;
}
.btn-searchbar:hover{
    border: 1px solid #dee2e6;
    background-color: rgba(129, 130, 206, 0.397);
}

.input-searchbar{
    border-top-right-radius: 0!important;
    border-bottom-right-radius:0!important;
    border-right: none!important;
}
.input-searchbar:focus{
    box-shadow: none;
    border: 1px solid #dee2e6;
}