.contenedor-pre{
    background-image:
    url("../../img/cool-background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo-pre{
    text-shadow: 1px 1px 1px black;
}